body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 3.0rem;
    color: #666c;
    background-color: #eee;
}

.section {
    text-align: center;
    padding: 20px 40px;
}

.footer {
    text-align: center;
    padding: 50px 0;
    background-color: black;
    color: aliceblue;
}

.caption {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #000;
    text-transform: uppercase;

}

.caption .border {
    background-color: #111;
    color: white;
    padding: 1rem;
  }


.section-light {
    background-color: #333;
}

.section-dark {
    background-color: #f4f4f4f4;
}

div.pimg1 {
    background: url("../images/img1.jpg");
    min-height: 800px;
}

div.pimg2 {
    background: url("../images/img2.jpg");
    min-height: 400px;
}

div.pimg3 {
    background: url("../images/img3.jpg");
    min-height: 400px;
}

div.pimg1,
div.pimg2,
div.pimg3 {
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;
    position: relative;

}